<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.udg.aplicacion1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".componets.MainActivity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".componets.ComponentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".componets.simpsons.Ejercicio1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".componets.MoreComponentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".componets.Avengers.Avengers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".componets.Practicasvg.Practicasvg"
            android:screenOrientation="portrait" />
        <activity
            android:name=".componets.Practicasvg.Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".componets.ViewPager.ViewPager"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".componets.goodviewpager.GoodViewPager"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".componets.Database.RealmRecyclerSampleActivity"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>